[run]

omit =
    */certifi/*
    */certifi-2024.8.30.dist-info/*
    */cffi/*
    */cffi-1.17.1.dist-info/*
    */charset_normalizer/*
    */charset_normalizer-3.3.2.dist-info/*
    */cryptography/*
    */cryptography-43.0.1.dist-info/*
    */ecdsa/*
    */ecdsa-0.19.0.dist-info/*
    */ecdsa/test_*.py
    */idna/*
    */idna-3.8.dist-info/*
    */jose/*
    */pyasn1/*
    */pyasn1-0.6.0.dist-info/*
    */pycparser/*
    */pycparser-2.22.dist-info/*
    */python-jose/*
    */python_jose-3.3.0.dist-info/*
    */pymysql/*
    */PyMySQL-1.1.1.dist-info/*
    */requests/*
    */requests-2.32.3.dist-info/*
    */rsa/*
    */rsa-4.9.dist-info/*
    */six-1.16.0.dist-info/*
    */urllib3/*
    */urllib3-2.2.2.dist-info/*
    */irentstuff_rentals_get/test_*
    *six.py*

[report]
exclude_lines = 
    os.environ*
    log.*